# Ignore Python cache and environment files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore node modules (if using Node.js)
node_modules/

# Ignore the course folder
course/